*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
}

.header__h1 {
  font-size: 4rem;
  margin: 30px 40px;
  transition: all 0.4s ease;
}

.main-body {
  margin: 80px auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  background-image: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-body__recent-refresh {
  display: flex;
  width: 30vw;
  justify-content: space-between;
}

.main-body__recent {
  font-size: 40px;
  color: white;
}

.main-body__refresh {
  margin: 0.5vw;
  width: 5vw;
  height: auto;
  cursor: pointer;
}

.main-body__score-board {
  height: 50vh;
  width: auto;
}

.add-score-h3 {
  font-size: 1.6rem;
  color: white;
}

.main-body__input {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-body__name {
  margin-top: 30px;
}

.main-body__score {
  margin-top: 15px;
}

.main-body__score:focus {
  border: 1px solid black;
}

.main-body__button {
  margin-top: 10px;
  cursor: pointer;
}

.score-li {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.score-li:nth-child(odd) {
  background-color: rgb(199, 199, 199);
}

.score-li:nth-child(even) {
  background-color: white;
}
